In [22]:
import tushare
import pandas as pd


#获取工商银行"601398"自2015年1月1日起的数据，日线，前复权
#格式：日期，开盘价，收盘价，最高价，最低价，成交量，股票代码
df = tushare.get_k_data("601398", start="2015-01-01")
df.head()

         date   open  close   high    low      volume    code
0  2015-01-05  4.095  4.203  4.277  4.070  13658516.0  601398
1  2015-01-06  4.153  4.236  4.452  4.111  14975615.0  601398
2  2015-01-07  4.153  4.186  4.236  4.111   8105967.0  601398
3  2015-01-08  4.194  4.012  4.211  3.987   6920490.0  601398
4  2015-01-09  4.003  4.053  4.277  3.937   9915903.0  601398

In [26]:
import sqlite3
from pandas.io import sql

#将股票数据写入数据库
con = sqlite3.connect('./data.sqlite')
df.to_sql(name="stock_601398", con=con, if_exists="replace", 
          dtype={"date":"datetime", "open":"float", "close":"float", "high":"float", "low":"float", "volume":"float", "code":"int"})

In [78]:
# 构建工作空间
from cubes import Workspace

workspace = Workspace()
# 连接数据源
workspace.register_default_store("sql", url="sqlite:///data.sqlite")
# 导入模型
workspace.import_model("stock_model.json")

In [79]:
# 执行聚合
# Browser 是一个对象用来执行聚合操作和其它对数据立方体的查询。
browser = workspace.browser("stock_601398")

result = browser.aggregate()

print("记录数", result.summary["record_count"])

print("收盘价最大值", result.summary["close_max"])

print("收盘价最小值", result.summary["close_min"])

记录数 872
收盘价最大值 7.421
收盘价最小值 3.383